<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>


		<add name = "SchoolManagement"
		 providerName = "System.Data.SQLClient"
	     connectionString ="Data Source=DELL_LATTITUDE_;Initial Catalog=SchoolManagement;Integrated Security=True" />


	</connectionStrings>
</configuration>